/***************************************************************
	main.scss
	Author: Calvin Evans - Webantic (webantic.co.uk)
 ---------------------------------------------------------------
  STYLE/STRUCTURE: RSCSS - http://rscss.io
 • Think in components, named with 2 words (.screenshot-image)
 • Components have elements, named with 1 word (.blog-post > .title)
 • Name variants with a dash prefix (.shop-banner.-with-icon)
 • Components can nest
 • Remember you can extend to make things simple
 **************************************************************/

@import 'normalize';
@import 'variables';
@import 'helpers';
@import './components/*';